<!-- Шапка сайта (содержит название сайта и навигационное меню) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Панель навигации</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
           href="{% url 'home' %}">Слайд-шоу</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'cards' %}active{% endif %}"
           href="{% url 'cards' %}">Карточки</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'accordion' %}active{% endif %}"
           href="{% url 'accordion' %}">Аккордеон</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'contacts' %}active{% endif %}"
           href="{% url 'contacts' %}">Контакты</a>
      </div>
    </div>
  </div>
</nav>